body{


    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    font-size: 14px;

}
.sora- {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
  }


section{
    background-color:#FAFAF9 ;
    /* margin: 72px; */

    display: grid;
    gap: 32px;

    grid-template-columns: repeat(12,1fr);

    grid-template-rows:168px 1fr 168px;
    

}


.card{

    grid-column: 5 / 9 ;
    grid-row: 2 / 3;

    background-color:#FFFFFF ;
    /* margin-top: 168px; */


    width: 368px;
    height:395px ;

    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.card-container{
    color: #FAFAF9;
    width: 336px;
    margin: 16px 0;
}

.card-image{

    height:152px;

    border-radius: 15px;

    background-image: url('cactus_img.jpg');
    background-size: contain;

}

.card-container>input{
    font-size: 10px;
    font-weight: 800;
    color: #883AE1;
    background-color:#E6D6FC;

    margin: 16px 0;
    padding: 6px 16px;

    border: none;
    border-radius: 50px;
}

.card-container h3{
    font-size: 18px;
    font-weight: 800;
    color: #20293A;
    margin-bottom: 6px;
}
p{color:#6C727F ;}
#p1{
    margin-bottom: 20px;
    font-size: 14px;
}
#p2{margin-bottom: 4px;
font-size: 12px;}


@media screen and (max-width:650px) {

    /* .card{background-color: #6C727F;} */

    .card{

        grid-column: 3 / 11 ;
    
        background-color:#FFFFFF ;
    
    
        width: 368px;
        height:395px ;
    
        border-radius: 10px;
    
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width:500px) {

    /* .card{background-color: #6C727F;} */

    section{
        padding: 0;
        
        background-color:#FAFAF9 ;
        /* margin: 72px; */
    
        /* display: grid;
        gap: 32px;
    
        grid-template-columns: repeat(12,1fr);
    
        grid-template-rows:168px 1fr 168px; */

        display: flex;
        justify-content: center;

        padding: 168px 0;
        /* margin: auto auto; */
        
    
    }
    

    .card{
        padding: 0;
        margin: 0;

        /* grid-column: 1 / 13 ; */
    
        background-color:#FFFFFF ;
    
    
        width: 368px;
        height:395px ;
    
        border-radius: 10px;
    
        /* display: flex; */
        /* justify-content: center; */
    }
    
}
@media screen and (max-width:385px) {

    /* .card{background-color: #6C727F;} */

    section{
        padding: 0;
        
        background-color:#FAFAF9 ;
        /* margin: 72px; */
    
        /* display: grid;
        gap: 32px;
    
        grid-template-columns: repeat(12,1fr);
    
        grid-template-rows:168px 1fr 168px; */

        display: flex;
        justify-content: center;

        padding: 168px 0;
        /* margin: auto auto; */
        
    
    }
    

    .card{
        padding: 0;
        margin: 0;

        /* grid-column: 1 / 13 ; */
    
        background-color:#FFFFFF ;
    
    
        width: 300px;
        height:415px ;
    
        border-radius: 10px;
    
        /* display: flex; */
        /* justify-content: center; */
    }
    .card-container{
        color: #FAFAF9;
        width: 250px;
        margin: 16px 0;
    }
}